<div class="container sa-container-minsize sa-header-margin">

  <header class="pageHeader">
    <div class="row">
      <div class="col-md-12">
        <div class="sa-heading-text">
          {{'ContactUs.ContactUs' | translate}}
        </div>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-md-12">
      <div>
        {{'ContactUs.AMERICAS' | translate}}
      </div>
      <br />
      <div>
        {{'ContactUs.France' | translate}}
      </div>
      <br />
      <div>
        {{'ContactUs.Spain' | translate}}
      </div>
      <br />
      <div>
        {{'ContactUs.Switzerland' | translate}}
      </div>
      <br />
      <div>
        {{'ContactUs.Netherlands' | translate}}
      </div>
      <br />
      <div>
        {{'ContactUs.UK' | translate}}
      </div>
      <br />
      <div>
        {{'ContactUs.AllCountries' | translate}}
      </div>
      <br />
      <div>
        {{'ContactUs.APAC' | translate}}
      </div>
    </div>
  </div>

</div>

