<div class="container sa-container-minsize sa-header-margin">

  <header class="pageHeader">
    <div class="row">
      <div class="col-md-12">
        <div class="sa-heading-text">
          {{ 'Register.Header' | translate }}
        </div>
      </div>
    </div>
  </header>

  <br />
  <div class="row">
    <div class="col-md-12">
      <div>
        {{ 'Register.RegistrationComplete' | translate }} <br /><br />
      </div>
      <div>
        <p>
          <a routerLink="/login">{{ 'Register.Login' | translate }}</a> {{ 'Register.ToViewDetails' | translate }}
        </p>
      </div>
    </div>
  </div>

  <br />
  <br />
  <div class="row">
    <div class="col-md-12">
      <div>
        <a routerLink="/login" title="{{ 'Register.Login' | translate }}" class="btn btn-lg btn-primary sa-btn-header-color">{{ 'Register.Login' | translate }}</a>
      </div>
    </div>
  </div>



</div>

