<div class="container sa-container-minsize sa-header-margin">

  <header class="pageHeader">
    <div class="row">
      <div class="col-md-12">
        <div class="sa-heading-text">
          {{'ForgotPassword.ForgotPassword' | translate}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 has-feedback has-error">
        <div *ngFor="let err of errors" class="errorMessage">{{ err | translate }}</div>
      </div>
    </div>
  </header>



  <br />
  <div class="row">
    <div class="col-md-12">
      {{'ForgotPassword.HeaderLabel' | translate}}

    </div>
  </div>

  <form class="form"
        name="forgotPasswordForm"
        #f="ngForm"
        novalidate
        (ngSubmit)="formSubmit();">

    <br />
    <div class="row">
      <div class="col-md-4">
        <label class="control-label" for="user-name"> {{'ForgotPassword.UserName' | translate}}<span class="sa-required-text">*</span></label>
        <div [ngClass]="{'has-error' : userName.dirty && !userName.valid}">
          <input type="text"
                 class="form-control"
                 id="user-name"
                 name="userName"
                 #userName="ngModel"
                 required
                 [(ngModel)]="formModel.userName" />
        </div>
        <span class="errorMessage" *ngIf="userName.dirty && !userName.valid"> {{'ForgotPassword.InvalidUserName' | translate}}</span>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-md-6">
        <button type="submit" [disabled]="isLoading || !f.valid" class="btn btn-lg btn-primary sa-btn-header-color">{{'ForgotPassword.SendEmailBtn' | translate}}</button>
        <button class="btn-primary btn btn-lg sa-btn-header-color" style="margin-left: 15px;" (click)="cancel()">{{'ForgotPassword.CancelBtn' | translate}}</button>
      </div>
    </div>

  </form>
</div>

