USE [Portal]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETALLELIGIBLECUSTOMERS]    Script Date: 3/5/2020 5:08:22 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[SP_GETALLELIGIBLECUSTOMERS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETALLELIGIBLECUSTOMERS]    Script Date: 3/5/2020 5:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		SURYAKANT MADANE
-- CREATE DATE: 18-FEB-2020
-- DESCRIPTION:	TO GET ALL ELIGIBLE CUSTOMERS
-- =============================================
CREATE PROCEDURE [dbo].[SP_GETALLELIGIBLECUSTOMERS]

AS
BEGIN
	-- SET NOCOUNT ON ADDED TO PREVENT EXTRA RESULT SETS FROM
	SET NOCOUNT ON;

	-- INTERFERING WITH SELECT CUSTOMER SELECTIONS .
	 SELECT CUSTOMERNUMBER  FROM PORTALDB.DBO.CUSTOMER_PHASE2
END
GO
