USE [Portal]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETALLINVOICESOFCUSTOMERS]    Script Date: 3/5/2020 5:08:22 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[SP_GETALLINVOICESOFCUSTOMERS]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETALLINVOICESOFCUSTOMERS]    Script Date: 3/5/2020 5:08:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		SURYAKANT MADANE
-- CREATE DATE: 18-FEB-2020
-- DESCRIPTION:	TO GET ALL ELIGIBLE CUSTOMERS
-- =============================================
CREATE PROCEDURE [dbo].[SP_GETALLINVOICESOFCUSTOMERS]
( @ACCOUNTNUMBER  NVARCHAR(100))
AS
BEGIN
	-- SET NOCOUNT ON ADDED TO PREVENT EXTRA RESULT SETS FROM
	-- INTERFERING WITH SELECT STATEMENTS.
	SET NOCOUNT ON;

SELECT NUMBER FROM PORTALDB.DBO.INVOICE_HEADER_PHASE2
WHERE BILLTOCUST = @ACCOUNTNUMBER
AND NUMBER NOT IN
(  SELECT I.INVOICENUMBER FROM [PORTAL].DBO.[INVOICES] I 
	INNER JOIN [PORTAL].DBO.INVOICEHEADEREXTENSIONS IH
	ON I.INVOICENUMBER=IH.INVOICENUMBER
    INNER JOIN [PORTAL].DBO.INVOICEDETAILS  ID
    ON I.INVOICENUMBER=ID.INVOICENUMBER
	INNER JOIN [PORTAL].DBO.INVOICETAXES IT
	ON I.INVOICENUMBER=IT.INVOICENUMBER
)
END


--	EXEC [SP_GETALLINVOICESOFCUSTOMERS] '1161617'
GO
