USE [Portal]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEINVOICEDATA]    Script Date: 24-03-2020 16:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- AUTHOR:		Vikas Jhanjhari
-- CREATE DATE: 23-Mar-2020
-- DESCRIPTION:	UPDATE INVOICE
-- =============================================
ALTER PROCEDURE [dbo].[SP_UPDATEINVOICEDATA]

AS
BEGIN

SET ANSI_NULLS ON
SET ANSI_WARNINGS OFF
SET ARITHABORT OFF 
SET QUOTED_IDENTIFIER ON

-- Get records that needs to be updated
-- Select * from Temp_Invoices_For_Update
--Select * from Invoices Where InvoiceNumber='FACLI-230020-004961'
--Select * from PortalDB.DBO.INVOICE_HEADER_PHASE2 

IF(OBJECT_ID('Portal.DBO.Temp_Invoices_For_Update') IS NOT NULL) BEGIN DROP TABLE Temp_Invoices_For_Update END

		-- Inserting records to temp table for the rows that are updated in PortalDB
	SELECT
		IH.[NUMBER] AS INVOICENUMBER
		,IH.SOLDTOCUST AS CustomerNumber
		,IH.[ROWVERSION] AS INVOICEROWVERSION
		,ISNULL(IH.[ADD1],'')AS ADD1, IH.[ADD2], IH.[ADD3], IH.[CITY] , IH.[STATE], IH.[POSTAL], IH.[COUNTRY]
		,IH.[BILLTOADD1], IH.[BILLTOADD2], IH.[BILLTOADD3], IH.[BILLTOCITY], IH.[BILLTOSTATE], IH.[BILLTOPOSTAL], IH.[BILLTOCOUNTRY]
		,IH.[SHIPTOADD1], IH.[SHIPTOADD2], IH.[SHIPTOADD3], IH.[SHIPTOCITY], IH.[SHIPTOSTATE], IH.[SHIPTOPOSTAL], IH.[SHIPTOCOUNTRY]
		,IH.[REMITADD1], IH.[REMITADD2], IH.[REMITADD3], IH.[REMITCITY], IH.[REMITSTATE], IH.[REMITPOSTAL], IH.[REMITCOUNTRY]
		,IH.[PAYBYADD1], IH.[PAYBYADD2], IH.[PAYBYADD3], IH.[PAYBYZIP], IH.[PAYBYCTYSTATE]
			
		,IH.[COMPNAME], IH.[EMAIL], IH.[PHONE], IH.[FAX]
			
		,IH.[WIRENAME], IH.[WIREBANK], IH.[WIREBRANCH], IH.[WIREACCT], IH.[WIREROUTING], IH.[CURRENCY]
		,IH.[WIREBANKID], IH.[SWIFT], IH.[WIRECUR], IH.[SWIFTNAME], IH.[REMITIBAN], IH.[REMITSORTCODE]
		,IH.[WIRECLEARING], IH.[WIRENAME2], IH.[WIREBANK2], IH.[WIREACCT2], IH.[SWIFT2]
		,IH.[WIRECUR2], IH.[KVKNUMBER], IH.[TAXID], IH.[TAXIDPREFIX]

		,IH.[DATE], IH.[CURRENCY] AS INVOICECURRENCY, IH.[BILLTOCUST]
		,IH.[CUSTREF]
		,IH.[INVSTARTDATE], IH.[DETENDDATE], IH.[CUSTPO], IH.[SHIPVIA], IH.[INCOTERMS], IH.[PAYTERMS]
		,IH.[DUEDATE], IH.[SUBTOTAL], IH.[BALCUR], IH.[BALANCE]
		,IH.[CREDAT_0], IH.[UPDDAT_0]
		,IH.[DATEADDED] AS INVOICEDATEADDED
		,IH.[LOGO], IH.[DOCTYPE], IH.[BILLTONAME], IH.[SHIPTONAME], IH.[MEMO], IH.[PDCRAMT], IH.[PAYREF]
		,IH.[CHECKNUM], IH.[PAYAMT], IH.[REMITCUR], IH.[REMITNAME], IH.[IMPORTETOTAL]
		,IH.[CUSTTAXPREFIX], IH.[CUSTTAXID], IH.[PAYBYCUST], IH.[PAYBYNAME]
		,IH.CPY
			
		--,CU.[ADDRESS1],CU.[ADDRESS2],CU.[ADDRESS3],CU.[CITY] AS CUSTCITY,CU.[STATE] AS CUSTSTATE,CU.[POSTALCODE],CU.[COUNTRYNAME]
		--,CU.[CUSTOMERNUMBER],CU.[CUSTOMERNAME],CU.[CUSTOMERPIN],CU.[PHONENUMBER],CU.[COUNTRYCODE],CU.[LANGUAGE]
		----,CU.[ROWVERSION] AS CUSTROWVERSION
		--,CU.[CURRENCY] AS CUSTCURRENCY
		--,CU.[PTE_0]
		--,CU.[DATECREATED],CU.[DATEADDED],CU.[DATEUPDATED]

		--,ID.[NUMBER]
		--,ID.[LINENUMBER], ID.[ITEM], ID.[ITEMDESC], ID.[QTY], ID.[PRICE], ID.[EXTAMT]
		--,ID.[LINETAXRATE]
		--,IT.[NUM_0], IT.[BPR_0], IT.[TAXDESC], IT.[TAXAMT]
INTO 
	Temp_Invoices_For_Update
FROM  
	[PORTALDB].[DBO].INVOICE_HEADER_PHASE2 IH
	--LEFT JOIN [PORTALDB].DBO.INVOICE_DETAILS_PHASE2 ID ON IH.NUMBER = ID.NUMBER
	--LEFT JOIN [PORTALDB].DBO.INVOICE_TAXES IT ON IH.NUMBER = IT.NUM_0
	--INNER JOIN [PORTALDB].DBO.CUSTOMER_PHASE2 CU 	  ON CU.CUSTOMERNUMBER = IH.BILLTOCUST
	  
	INNER JOIN [Portal].[dbo].[Invoices] inv ON inv.InvoiceNumber = IH.NUMBER --AND IH.SOLDTOCUST = INV.SoldToAccountNumber
	INNER JOIN [Portal].[dbo].[Accounts] acct ON acct.Number = IH.SOLDTOCUST
	LEFT JOIN [Portal].[dbo].[UserClaims] uc ON uc.ClaimValue = acct.Number
WHERE   
	IH.Rowversion <> inv.[ExternalRowVersion1] -- Modified Invoice not pushed from PortalDB to Portal
	AND uc.ClaimValue IS NOT null


-- Updating records from Temp_table

UPDATE  I-- [DBO].[INVOICES]
	SET  I.[MODIFIEDBY] = 'SYSTEM'
	,I.[MODIFIEDON] = GETUTCDATE()
	,I.[SOLDTOACCOUNTNUMBER] = IH.CustomerNumber
	,I.[BILLEDTOACCOUNTNUMBER] = IH.BILLTOCUST
--,I.[BILLINGENTITYNUMBER] = NULL -- NEED TO UPDATE WITH COMPANYNUMBER FILED.
	,I.[EXTERNALROWVERSION] = IH.INVOICEROWVERSION
	,I.[INVOICEDATE] = IH.[DATE]
	,I.[CUSTOMERREFERENCENUMBER] = IH.CUSTREF
	,I.[CUSTOMERPURCHASEORDERNUMBER] = IH.CUSTPO
	--,I.[SHIPPINGADDRESSID] = IH.@INVOICESHIPADDRESS)
	--,I.[SHIPPINGNUMBER] = NULL
	,I.[SHIPPINGMETHOD] = IH.SHIPVIA
	--,I.[SHIPPINGRESULT] = NULL
	,I.[SERVICEFROM] = IH.INVSTARTDATE
	,I.[SERVICETO] = IH.DETENDDATE
	,I.[INCOTERMS] = IH.INCOTERMS
	,I.[PAYMENTTERMS] = IH.PAYTERMS
--,I.[COMMENTS] = NULL
	,I.[TAXID] = IH.TAXID
	,I.[CURRENCY] = IH.INVOICECURRENCY
--,I.[DISCOUNTAMOUNT] = 0.00 
	,I.[TOTAL] = ISNULL(IH.SUBTOTAL,0.00)
	,I.[SUBTOTALAMOUNT] = ISNULL(IH.SUBTOTAL,0.00)
	--  ,I.[TAXRATE] = ISNULL(IH.LINETAXRATE,0.00)
	-- ,I.[TAXAMOUNT] = ISNULL(IH.TAXAMT,0.00) -- as per Brandon the Tax amount never get updated
	,I.[BALANCE] = ISNULL(IH.BALANCE,0.00)
	,I.[BALANCECURRENCY] = ISNULL(IH.BALCUR,'')
	,I.[DATEDUE] = IH.DUEDATE
--,I.[SELLINGENTITYNUMBER] = NULL -- NEED TO UPDATE WITH COMPANYNUMBER FILED.
	,I.[EXTERNALROWVERSION1] = IH.INVOICEROWVERSION
			 
FROM
	Portal.DBO.Invoices I
	INNER JOIN Portal.DBO.Temp_Invoices_For_Update IH 
			ON  I.InvoiceNumber = IH.InvoiceNumber 
			--AND  I.SoldToAccountNumber=IH.CustomerNumber

END

