<div class="container sa-container-minsize sa-header-margin">

  <header class="pageHeader">

    <div class="row">
      <div class="col-md=12">
        <div class="sa-heading-text">{{ 'Password Reset' | translate }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 has-feedback has-error">
        <div *ngFor="let err of errors" class="errorMessage">{{ err | translate }}</div>
      </div>
    </div>

  </header>
  <div class="row" *ngIf="!isConfirmed">
  <form class="form" name="f" id="f" #f="ngForm" (ngSubmit)="resetPassword()">
    <div class="row">
      <div class="col-md-12">
        <label class="control-label" for="userName">{{ 'Username' | translate }}<span class="sa-required-text">*</span></label>
        <div class="has-feedback" [ngClass]="{ 'has-error' : (userName.dirty && (!userName.valid || userName.errors)) }">
          <input class="form-control" id="userName" name="userName" type="text" #userName="ngModel" [(ngModel)]="model.userName" required minlength="6" />
          <span class="errorMessage" [hidden]="!(userName.dirty && (!userName.valid || userName.errors))">{{ 'Username is required' | translate }}{{ model.userName?.messages}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="control-label" for="newPassword">{{ 'New Password' | translate }}<span class="sa-required-text">*</span></label>
        <div class="has-feedback" [ngClass]="{ 'has-error' : (newPassword.dirty && newPassword.valid) }">
          <input class="form-control"
                 id="newPassword"
                 name="newPassword"
                 type="password"
                 #newPassword="ngModel"
                 [(ngModel)]="model.newPassword"
                 required
                 minlength="8"
                 pattern="^(?=[^a-z]*[a-z])(?=[^A-Z]*[A-Z])(?=\D*\d)(?=[a-zA-Z0-9]*[^a-zA-Z0-9]).+"
                 validateEqual="confirmPassword" reverse="true" />
          <span class="errorMessage" [hidden]="!(newPassword.dirty && newPassword.errors?.required)">
            {{ 'Password is required' | translate }}
            <br />
          </span>
          <span class="errorMessage" [hidden]="!(newPassword.dirty && newPassword.errors?.minlength)">
            {{ 'Password must be at least 8 characters' | translate }}
            <br />
          </span>
          <span class="errorMessage" [hidden]="!(newPassword.dirty && !newPassword.errors?.minlength && newPassword.errors?.pattern)">
            {{ 'Password must contain at least one uppercase letter, one lowercase letter, one number, and one special charater' | translate }}
            <br />
          </span>
          <span class="errorMessage" [hidden]="!(newPassword.dirty && confirmPassword.dirty) || !(newPassword.dirty && newPassword.errors?.validateEqual)">
            {{ 'Password does not match confirmation' | translate }}
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="control-label" for="confirmPassword">{{ 'Confirm Password' | translate }}<span class="sa-required-text">*</span></label>
        <div class="has-feedback" [ngClass]="{ 'has-error' : (newPassword.dirty || confirmPassword.dirty) && (newPassword.valid && !confirmPassword.valid) }">
          <input class="form-control"
                 id="confirmPassword"
                 name="confirmPassword"
                 type="password"
                 #confirmPassword="ngModel"
                 [(ngModel)]="model.confirmPassword"
                 required
                 validateEqual="newPassword" />
          <span class="errorMessage" [hidden]="!(newPassword.dirty && confirmPassword.dirty) || !(confirmPassword.dirty && confirmPassword.errors?.validateEqual)">
            {{ 'Confirmation of password is required' | translate }}
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="sa-button-form-spacer">
          <button type="submit" class="btn btn-lg btn-primary sa-btn-header-color" [disabled]="isLoading || !f.valid">
            <i *ngIf="isLoading" class='fa fa-circle-o-notch fa-spin'></i> {{isLoading ? 'Changing Password...' : 'Change Password'}}
          </button>
          <button class="btn-primary btn btn-lg sa-btn-header-color" style="margin-left: 15px;" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
        </div>
      </div>
    </div>
  </form>
  </div>
  <div class="row" *ngIf="isConfirmed">
    <div class="col-md-12">
      <div>
        Your password has been reset.<br /><br />
      </div>
      <div>
        <p>
          <a routerLink="/login">{{ 'Login' | translate }}</a> to view account details, make payments and add additional users.
        </p>
      </div>
    </div>
    <br />
    <br />
  </div>

  <div class="row" *ngIf="isConfirmed">
    <div class="col-md-12">
      <div>
        <a routerLink="/login" title="{{ 'Login' | translate }}" class="btn btn-lg btn-primary sa-btn-header-color">{{ 'Login' | translate }}</a>
      </div>
    </div>
    <br />
    <br />
  </div>

  <br /><br /><br />
  <div class="row">
    <div class="col-md-12">
      <div>
        AMERICAS: Toll free: <a href="tel:+8667236824">+866-723-6824</a> or <a href="tel:+17045042320">+1 704-504-2320</a>
      </div>
      <br />
      <div>
        EMEA: <a href="tel:+330562576320">+33 (0)5 62 57 63 20</a>
      </div>
      <br />
      <div>
        UK: <a href="tel:+4401628601650">+44 (0) 1628-601650</a>
      </div>
      <br />
      <div>
        APAC: <a href="tel:+85362625256">+(853) 626-25256</a> or <a href="tel:+(852) 356-35566">(852) 356-35566</a>
      </div>
    </div>
  </div>
</div>
