<html>
  <body>
    <table border="0" >
      <tr>
        <td style="background-color:#56B2CB;" align="center" >
          <img src="https://www.scentair.com/web_resources/themes/www-scentair-percussion-com/images/ScentAir_Logo_whiteWEB_white.png"></img>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <p>
              Nombre del Cliente: {customerName}<br/>
              Número del Suscriptor: {accountNumber}
            </p>
  <p> &nbsp;</p>
  <p> </p>
  <p>Estimado {name},</p>
  <p> </p>
  <p>
  Recientemente solicitó restablecer la contraseña de su Portal de Cliente ScentAir. Haga clic en el enlace de abajo para restablecerla.
  </p>
  <p> </p>
  <p>
    <a href="{url}">Restablecer la contraseña</a>
  </p>
  <p> </p>
  <p>
    Si usted no solicitó un restablecimiento de su contraseña, por favor <a href="{urlContactUs}">contáctenos</a>.
  </p>
  <p> </p>
   <p>
          Si tiene alguna pregunta sobre su cuenta ScentAir o su perfil en línea, <a href="{urlContactUs}">contáctenos</a>.  ¡Gracias por elegir a ScentAir para proporcionarle más a su negocio y a sus clientes!
        </p>
  <p> </p>
             <p>
              Sinceramente,<br/> ScentAir
            </p>
            <p> </p>
             <div style="font-size: 10px;">
              <strong>Favor de no responder a este mensaje. Las respuestas a esta dirección de correo electrónico no son monitoreadas.</strong>
              <br/>Esta transmisión de correo electrónico contiene información destinada únicamente para el uso de los destinatarios mencionados anteriormente. Además, contiene información que puede ser confidencial. Si no es el destinatario deseado, se le notifica por la presente que cualquier difusión, distribución o copia de este mensaje (incluidos los archivos adjuntos) está estrictamente prohibida.
            </div>
          </div>
        </td>
      </tr>
       <tr>
        <td align="center">
          <br/>
          <br/>
          <div style="color: silver; font-weight: bold; float: left;font-size: 10px;">
            <span>
             2019 ScentAir. Todos los derechos reservados.
            </span>
          </div>
          <div style="color: silver; font-weight: bold; float: left;font-size: 10px;">
            <span>Corporativo: 3810 Shutterfly Rd., Charlotte, NC 28217</span><span style="margin-left: 8px; margin-right: 8px;"></span>
          </div>
          <div style="color: silver; font-weight: bold; float: left;font-size: 10px;">
          
          </div>
        </td>
      </tr>
    </table>

  </body>
</html>