<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-8">
</head>
   <body>
      <table border="0" >
         <tr>
            <td style="background-color:#56B2CB;" align="center" >
               <img src="https://www2.scentair.com/l/799033/2020-03-12/k8l1/799033/27976/scentair_logo_white_2.png" width="100"></img>
            </td>
         </tr>
         <tr>
            <td>
               <div style="margin-left:0.5%;">
                  <p>Beste ScentAir klant,</p>
                  <p>Uw ScentAir klantnummer is {BilledToAccountNumber} </p>
                  <p> </p>
                  <p>U heeft een nieuwe factuur in uw ScentAir Account Centrum:</p>
                  <p> </p>
                  <ul style="list-style: none">
                     <li><b>Uiterste betaaldatum: </b> {DateDue} </li>
                     <li><b>Totaalbedrag: </b> {Balance} </li>
                     <li><b>Balans: </b> {AccountBalance} {BalanceCurrency}</li>
                  </ul>
                  <p></p>
                  <p>Om uw factuur te bekijken, logt u in op het ScentAir Account Centrum: <a href="https://myaccount.scentair.com">https://myaccount.scentair.com</a> 
                  </p>
                  <p> *Momenteel alleen beschikbaar voor de VS en Canada: <br/> Als u AutoPay gebruikt zal de factuur op de door u aangegeven methode automatisch betaald worden. U kunt uw betaalmethode aanpassen in het ScentAir Account Centrum. </p>
                  <p> Wat kunt u verwachten: <br/>  Uw factuurdatum is de ingangsdatum van uw ScentAir-servicecontract en blijft gedurende uw contractperiode hetzelfde. Raadpleeg het gedeelte Voorwaarden op uw factuur voor betalingsinformatie.</p>
                  <p> ScentAir Service:<br/>  Gebruik van apparatuur en garantie, geurverzendingen, servicebezoeken, verzendkosten en een customer care team dat klaar staat om te helpen en eventuele vragen te beantwoorden! </p>
                  <p>Vragen & Betalingen:<br/> We kunnen uw aanvragen en betalingsaanvraag het meest effectief behandelen als we uw klantnummer als referentie hebben. Dit nummer staat op al uw facturen, samen met het factuurnummer.</p>
                  <p> Wilt u contact met ons opnemen? Ga naar:  <a href="https://myaccount.scentair.com/#/contactus">https://myaccount.scentair.com/#/contactus</a> </p>
                  <p>Bedankt voor uw vertrouwen in ons.</p>
                  <p>
                     Sincerely,<br/> ScentAir
                  </p>
                  
               </div>
            </td>
         </tr>
         <tr>
            <td align="center">
               <br/>
               <br/>
               <div style="color: silver; font-weight: bold; float: left;font-size: 10px;">
                  <span>
                  2019 ScentAir. All rights reserved.
                  </span>
               </div>
               <div style="color: silver; font-weight: bold; float: left;font-size: 10px;">
                  <span>Corporate: 3810 Shutterfly Rd., Charlotte, NC 28217</span><span style="margin-left: 8px; margin-right: 8px;">|</span>+1 (704) 504-2320
               </div>
               <div style="color: silver; font-weight: bold; float: left;font-size: 10px;">
                  866.723.6824
               </div>
            </td>
         </tr>
      </table>
   </body>
</html>
