<div class="container sa-header-margin sa-container-minsize">

  <header class="pageHeader">

    <div class="row">
      <div class="col-md=12">
        <div class="sa-heading-text" *ngIf="!isAccount">{{ 'Register.Step1Registration' | translate }}</div>
        <div class="sa-heading-text" *ngIf="isAccount">{{ 'Register.Step2Registration' | translate }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 has-feedback has-error">
        <div class="errorMessage" style="float:left">{{ errorMessage | translate }} <a href="../#/login/" *ngIf="here">{{ 'Register.Here' | translate}}</a> </div>
      </div>
    </div>

  </header>

  <form class="form" name="f" id="f" #f="ngForm" *ngIf="formResetToggle" (ngSubmit)="register()">


    <div class="row" *ngIf="!isAccount">
      <div class="col-md-4">
        <label class="control-label" for="account_number">{{ 'Register.CustomerIDNumber'  | translate }}<span class="sa-required-text">*</span></label>
        <span class="fa fa-question-circle sa-enroll-auto-pay-button-info-icon sa-popup" (mouseenter)="toggleAcctNoPopover($event)" (mouseleave)="toggleAcctNoPopover($event)">
          <span class="sa-popuptext-b" [class.sa-show]="isAcctNoPopoverVisible" id="acctNoPopover">{{ 'Register.CustomerIDNumberToolTip'  | translate }}</span>
        </span>

        <div class="has-feedback" [ngClass]="{ 'has-error' : account_number.dirty && (!account_number.valid || account_number.errors) }">
          <input class="form-control" id="account_number" name="account_number" type="text" #account_number="ngModel" [(ngModel)]="model.account.number" required minlength="3" />
          <span class="errorMessage" [hidden]="!(account_number.dirty && (!account_number.valid || account_number.errors))">{{ 'Register.InvalidAccountNumber' | translate }}{{ model.account.number?.messages | translate }}</span>
        </div>
      </div>
      <div class="col-md-4">
        <label class="control-label" for="account_pin">{{ 'Register.PINNumber' | translate }}<span class="sa-required-text">*</span></label>
        <span class="fa fa-question-circle sa-enroll-auto-pay-button-info-icon sa-popup" (mouseenter)="togglePinNoPopover($event)" (mouseleave)="togglePinNoPopover($event)">
          <span class="sa-popuptext-b" [class.sa-show]="isPinNoPopoverVisible" id="PinNoPopover">{{ 'Register.PINNumberToolTip' | translate }}</span>
        </span>

        <div class="has-feedback" [ngClass]="{ 'has-error' : account_pin.dirty && (!account_pin.valid || account_pin.errors) }">
          <input class="form-control" id="account_pin" name="account_pin" type="password" #account_pin="ngModel" [(ngModel)]="model.account.pin" required minlength="3" />
          <span class="errorMessage" [hidden]="!(account_pin.dirty && (!account_pin.valid || account_pin.errors))">{{ 'Register.PINNumberValidation' | translate }}</span>
        </div>
      </div>
      <br />
    </div>

    <div class="row" *ngIf="!isAccount">
      <div class="col-md-4" style="margin-top: 10px !important;">
        <ngx-recaptcha2 #captchaElem
                        [siteKey]="siteKey"
                        (reset)="captchaHandleReset()"
                        (expire)="captchaHandleExpire()"
                        (load)="captchaHandleLoad()"
                        (success)="CaptchaHandleSuccess($event)"
                        [useGlobalDomain]="useGlobalDomain"
                        [size]="size"
                        [hl]="selectedLanguage"
                        [theme]="theme"
                        [type]="type" [(ngModel)]="model.captcha" [ngModelOptions]="{standalone: true}" >
        </ngx-recaptcha2>
        <br />
      </div>
      </div>


      <div *ngIf="isAccount">
        <div class="row">
          <div class="col-md-4">
            <div class="sa-gray-text" style="font-size: large;">
              <div>
                <div style="font-size: x-large;">
                  {{ model.account.name }} ({{model.account.number}})
                </div>
                <div>
                  {{ model.account.address.line1 }}<br />
                  {{ model.account.address.municipality }},&nbsp;
                  {{ model.account.address.stateOrProvince }}&nbsp; {{ model.account.address.postalCode }}<br />
                  {{ model.account.address.country }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-4">
            <label class="control-label" for="user_firstName">{{ 'Register.FirstName' | translate }}<span class="sa-required-text">*</span></label>
            <div class="has-feedback" [ngClass]="{ 'has-error' : user_firstName.dirty && (!user_firstName.valid || user_firstName.errors) }">
              <input class="form-control" id="user_firstName" name="user_firstName" type="text" #user_firstName="ngModel" [(ngModel)]="model.user.firstName" required minlength="2" />
              <span class="errorMessage" [hidden]="!(user_firstName.dirty && (!user_firstName.valid || user_firstName.errors))">{{ 'Register.FirstNameValidation' | translate }}</span>
            </div>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="user_lastName">{{ 'Register.LastName' | translate }}<span class="sa-required-text">*</span></label>
            <div class="has-feedback" [ngClass]="{ 'has-error' : user_lastName.dirty && (!user_lastName.valid || user_lastName.errors) }">
              <input class="form-control" id="user_lastName" name="user_lastName" type="text" #user_lastName="ngModel" [(ngModel)]="model.user.lastName" required minlength="2" />
              <span class="errorMessage" [hidden]="!(user_lastName.dirty && (!user_lastName.valid || user_lastName.errors))">{{ 'Register.LastNameValidation' | translate }}</span>
            </div>
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col-md-4">
            <label class="control-label" for="user_email">{{ 'Register.EmailAddress' | translate }}<span class="sa-required-text">*</span></label>
            <div class="has-feedback" [ngClass]="{ 'has-error' : user_email.dirty && (!user_email.valid || user_email.errors) }">
              <input class="form-control" id="user_email" name="user_email" type="text" #user_email="ngModel" [(ngModel)]="model.user.email" required email minlength="5" />
              <span class="errorMessage" [hidden]="!(user_email.dirty && (!user_email.valid || user_email.errors))">{{ 'Register.EmailValidation'| translate }}{{ model.user.email?.messages}}</span>
            </div>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="user_phoneNumber">{{ 'Register.PhoneNumber' | translate }}<span class="sa-required-text">*</span></label>
            <div class="has-feedback"
                 [ngClass]="{ 'has-error' : user_phoneNumber.dirty && (!user_phoneNumber.valid || user_phoneNumber.errors) }">
              <input class="form-control"
                     id="user_phoneNumber"
                     name="user_phoneNumber"
                     type="text"
                     #user_phoneNumber="ngModel"
                     [(ngModel)]="model.user.phoneNumber"
                     required
                     minlength="6"
                     pattern="\+?\s*(\(?\d{1,3}\)?)*\s*[\-\.\,]?\s*(\(?\d+\)?)*\s*[\-\.\,]?\s*(\(?\d+\)?)*\s*[\-\.\,]?\s*(\(?\d+\)?)*\s*" />
              <span class="errorMessage" [hidden]="!(user_phoneNumber.dirty && (!user_phoneNumber.valid || user_phoneNumber.errors))">{{ 'Register.PhoneNumberValidation' | translate }}</span>
            </div>
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col-md-4">
            <label class="control-label" for="user_userName">{{ 'Register.UserName' | translate }}<span class="sa-required-text">*</span></label>
            <span class="fa fa-question-circle sa-enroll-auto-pay-button-info-icon sa-popup" (mouseenter)="toggleUsernamePopover($event)" (mouseleave)="toggleUsernamePopover($event)">
              <span class="sa-popuptext-b" [class.sa-show]="isUsernamePopoverVisible" id="UsernamePopover">{{ 'Register.UserNameToolTip' | translate }}</span>
            </span>

            <div class="has-feedback" [ngClass]="{ 'has-error' : (user_userName.dirty && !user_userName.valid) }">
              <input class="form-control"
                     id="user_userName"
                     name="user_userName"
                     type="text"
                     #user_userName="ngModel"
                     [(ngModel)]="model.user.userName"
                     required
                     minlength="7"
                     pattern="[a-zA-Z0-9]+" />
              <span class="errorMessage" [hidden]="!(user_userName.dirty && user_userName.errors?.required)">
                {{ 'Register.UserNameRequired' | translate }}
              </span>
              <span class="errorMessage" [hidden]="!(user_userName.dirty && user_userName.errors?.minlength)">
                {{ 'Register.UserNameCharLength' | translate }}
              </span>
              <span class="errorMessage" [hidden]="!(user_userName.dirty && user_userName.errors?.pattern)">
                {{ 'Register.UserNameValidation' | translate }}
              </span>
            </div>
          </div>

          <div class="col-md-4">
            <label class="control-label" for="user_newPassword">{{ 'Register.Password' | translate }}<span class="sa-required-text">*</span></label>
            <span class="fa fa-question-circle sa-enroll-auto-pay-button-info-icon sa-popup" (mouseenter)="togglePasswordPopover($event)" (mouseleave)="togglePasswordPopover($event)">
              <span class="sa-popuptext-b" [class.sa-show]="isPasswordPopoverVisible" id="PasswordPopover">{{ 'Register.PasswordToolTip' | translate }}</span>
            </span>

            <div class="has-feedback" [ngClass]="{ 'has-error' : (user_newPassword.dirty && !user_newPassword.valid) }">
              <input class="form-control"
                     id="user_newPassword"
                     name="user_newPassword"
                     type="password"
                     #user_newPassword="ngModel"
                     [(ngModel)]="model.user.newPassword"
                     required
                     minlength="8"
                     pattern="^(?=[^a-z]*[a-z])(?=[^A-Z]*[A-Z])(?=\D*\d)(?=[a-zA-Z0-9]*[^a-zA-Z0-9]).+"
                     validateEqual="user_confirmPassword" reverse="true" />
              <span class="errorMessage" [hidden]="!(user_newPassword.dirty && user_newPassword.errors?.required)">
                {{ 'Register.PasswordValidation' | translate }}
                <br />
              </span>
              <span class="errorMessage" [hidden]="!(user_newPassword.dirty && user_newPassword.errors?.minlength)">
                {{ 'Register.PasswordCharLength' | translate }}
                <br />
              </span>
              <span class="errorMessage" [hidden]="!(user_newPassword.dirty && !user_newPassword.errors?.minlength && user_newPassword.errors?.pattern)">
                {{ 'Register.PasswordCharLength' | translate }}
                <br />
              </span>
              <span class="errorMessage" [hidden]="!(user_newPassword.dirty && user_confirmPassword.dirty) || !(user_newPassword.dirty && user_newPassword.errors?.validateEqual)">
                {{ 'Register.PasswordMatchValidation' | translate }}
              </span>
            </div>
          </div>
          <div class="col-md-4">
            <label class="control-label" for="user_confirmPassword">{{ 'Register.ConfirmPassword' | translate }}<span class="sa-required-text">*</span></label>
            <div class="has-feedback" [ngClass]="{ 'has-error' : (user_newPassword.dirty || user_confirmPassword.dirty) && (user_newPassword.valid && !user_confirmPassword.valid) }">
              <input class="form-control"
                     id="user_confirmPassword"
                     name="user_confirmPassword"
                     type="password"
                     #user_confirmPassword="ngModel"
                     [(ngModel)]="model.user.confirmPassword"
                     validateEqual="user_newPassword" />
              <span class="errorMessage" [hidden]="!(user_newPassword.dirty && user_confirmPassword.dirty) || !(user_confirmPassword.dirty && user_confirmPassword.errors?.validateEqual)">
                {{ 'Register.ConfirmPasswordRequired' | translate }}
              </span>
            </div>
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col-md-4">
            <label class="control-label" for="user_question01">{{ 'Register.SecurityQuestion1' | translate }}<span class="sa-required-text">*</span></label>
            <div class="has-feedback" [ngClass]="{ 'has-error' : !isUser && (user_question01.dirty && (!user_question01.valid || user_question01.errors || user_question01.selectedIndex == 0)) }">
              <select id="user_question01" name="user_question01" #user_question01="ngModel" [(ngModel)]="model.user.question01" class="form-control" required validateNotEqual="user_question02" reverse="true">
                <option *ngFor="let s of securityQuestions01" [ngValue]="s.referenceEnglishId" [selected]="user_question01 == s.referenceEnglishId">{{ s.question | translate }}</option>
              </select>
              <span class="errorMessage" [hidden]="isUser || !((user_question01.dirty || user_answer01.dirty) && (!user_question01.valid || user_question01.errors || user_question01.selectedIndex == 0))">{{ 'Register.QuetionValidation' | translate }}</span>
            </div>
          </div>

          <div class="col-md-4">
            <label class="control-label" for="user_answer01">{{ 'Register.Answer' | translate }}<span class="sa-required-text">*</span></label>
            <div class="has-feedback" [ngClass]="{ 'has-error' : !isUser && ((user_answer01.dirty || user_question01.dirty) && (!user_answer01.valid || user_answer01.errors)) }">
              <input class="form-control" id="user_answer01" name="user_answer01" type="text" #user_answer01="ngModel" [(ngModel)]="model.user.answer01" required minlength="3" />
              <span class="errorMessage" [hidden]="isUser || !((user_answer01.dirty || user_question01.dirty) && (!user_answer01.valid || user_answer01.errors))">{{ 'Register.AnswerValidation' | translate }}</span>
            </div>
          </div>

        </div>
        <br />

        <div class="row">
          <div class="col-md-4">
            <label class="control-label" for="user_question02">{{  'Register.SecurityQuestion2' | translate }}<span class="sa-required-text">*</span></label>
            <div class="has-feedback" [ngClass]="{ 'has-error' : !isUser && ((user_question02.dirty || user_answer02.dirty) && (!user_question02.valid || user_question02.errors || user_question02.selectedIndex == 0)) }">
              <select id="user_question02" name="user_question02" #user_question02="ngModel" [(ngModel)]="model.user.question02" class="form-control" required validateNotEqual="user_question01">
                <option *ngFor="let s of securityQuestions02" [ngValue]="s.referenceEnglishId" [selected]="user_question02 == s.referenceEnglishId">{{ s.question | translate }}</option>
              </select>
              <span class="errorMessage" [hidden]="isUser || !((user_question02.dirty || user_answer02.dirty) && (!user_question02.valid || user_question02.errors || user_question02.selectedIndex == 0))">{{ 'Register.QuetionValidation' | translate }}</span>
            </div>
          </div>

          <div class="col-md-4">
            <label class="control-label" for="user_answer02">{{ 'Register.Answer'  | translate }}<span class="sa-required-text">*</span></label>
            <div class="has-feedback" [ngClass]="{ 'has-error' : !isUser && ((user_answer02.dirty || user_question02.dirty) && (!user_answer02.valid || user_answer02.errors)) }">
              <input class="form-control" id="user_answer02" name="user_answer02" type="text" #user_answer02="ngModel" [(ngModel)]="model.user.answer02" required minlength="3" />
              <span class="errorMessage" [hidden]="isUser || !((user_answer02.dirty || user_question02.dirty) && (!user_answer02.valid || user_answer02.errors))">{{ 'Register.AnswerValidation' | translate }}</span>
            </div>
          </div>

        </div>
        <br />

        <div class="row">
          <div class="col-md-12">
            <div class="sa-inline-field">
              <input type="checkbox" id="user_termsAccepted" name="user_termsAccepted" #user_termsAccepted="ngModel" class="sa-radio-button" [(ngModel)]="model.user.termsAccepted" required />
              <label class="sa-radio-button-text-spacer" style="padding-top: 5px;" for="user_termsAccepted">
                {{ 'Register.PrivacyandTermsofUse' | translate }} <span>

                  <a href="https://www.scentair.com/legal/privacy.html" target="_blank">{{ 'Register.Privacy' | translate }}</a>
                </span>&nbsp;{{ 'Register.And' | translate }}&nbsp;<span>
                  <a href="https://www.scentair.com/legal/termsofuse.html" target="_blank">{{ 'Register.TermsofUse'  | translate }} </a> {{ 'Register.PrivacyandTermsofUseRemaining'  | translate }}
                </span>.<span class="sa-required-text">*</span>
              </label>
            </div>
          </div>
        </div>
        <br />


        <div class="row">
          <div class="col-md-12">
            <div class="sa-button-form-spacer">
              <button type="submit" class="btn btn-lg btn-primary sa-btn-header-color" [disabled]="isLoading || !f.valid"><i *ngIf="isLoading" class='fa fa-circle-o-notch fa-spin'></i> {{isLoading ? 'Registering...'  : 'Register.SaveLoginButton'  | translate}}</button>
              <button class="btn-primary btn btn-lg sa-btn-header-color" type="reset" style="margin-left: 15px;" (click)="cancel()">{{ 'Register.CANCELButton' | translate }}</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="!isAccount">
        <div class="col-md-12">
          <div class="sa-button-form-spacer">
            <button type="submit" class="btn btn-lg btn-primary sa-btn-header-color" [disabled]="(isLoading  || !f.valid) || !captchaSuccess">
              <i *ngIf="isLoading" class='fa fa-circle-o-notch fa-spin'></i> {{isLoading ? 'Looking up account...' : 'Register.LookupAccount' | translate}}
            </button>
            <button class="btn-primary btn btn-lg sa-btn-header-color" style="margin-left: 15px;" (click)="cancel()">{{ 'Register.CANCEL' | translate }}</button>
             
          </div>
        </div>
      </div>

</form>

</div>


