<div>
  <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="userInfoForm" #f="ngForm" novalidate
        (ngSubmit)="f.form.valid ? save() :
          (!billingLine1.valid && showErrorAlert('Billing address is required', 'Please enter a billing address (maximum of 50 characters)'));
          (!billingMunicipality.valid && showErrorAlert('Billing city is required', 'Please enter a billing city (maximum of 100 characters)'));
          (!billingStateOrProvince.valid && showErrorAlert('Billing state or province is required', 'Please enter a billing state or province (maximum of 35 characters)'));
          (!billingPostalCode.valid && showErrorAlert('Billing postal code is required', 'Please enter a billing postal code (maximum of 10 characters)'));
          (!billingCountry.valid && showErrorAlert('Billing country is required', 'Please enter a billing country (maximum of 40 characters)'));
          (!shippingLine1.valid && showErrorAlert('Shipping address is required', 'Please enter a shipping address (maximum of 50 characters)'));
          (!shippingMunicipality.valid && showErrorAlert('Shipping city is required', 'Please enter a shipping city (maximum of 100 characters)'));
          (!shippingStateOrProvince.valid && showErrorAlert('Shipping state or province is required', 'Please enter a shipping state or province (maximum of 35 characters)'));
          (!shippingPostalCode.valid && showErrorAlert('Shipping postal code is required', 'Please enter a shipping postal code (maximum of 10 characters)'));
          (!shippingCountry.valid && showErrorAlert('Shipping country is required', 'Please enter a shipping country (maximum of 40 characters)'));
        ">

    <!-- BillingLine1 -->
    <div class="form-group has-feedback">
      <label [class.col-md-5]="isViewOnly" [class.col-md-4]="!isViewOnly" class="control-label" for="BillingLine1-{{uniqueId}}"><div class="required">*</div>{{'AccountSettings.BillingLine1' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly">
        <p class="form-control-static">{{sfAccountSettings.billingLine1}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly" [ngClass]="{'has-success': f.submitted && billingLine1.valid, 'has-error' : f.submitted && !billingLine1.valid}">
        <input type="text" attr.id="BillingLine1-{{uniqueId}}" name="billingLine1" [attr.autocomplete]="isGeneralEditor" placeholder="Enter Billing Address"
               class="form-control" [(ngModel)]="sfAccountSettings.billingLine1" #billingLine1="ngModel" required minlength="1" maxlength="50" autofocus />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': billingLine1.valid, 'glyphicon-remove' : !billingLine1.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && !billingLine1.valid" class="errorMessage">
          {{'AccountSettings.BillingLine1Required' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- BillingLine2 -->
    <div class="form-group has-feedback">
      <label [class.col-md-5]="isViewOnly" [class.col-md-4]="!isViewOnly" class="control-label" for="BillingLine2-{{uniqueId}}">{{'AccountSettings.BillingLine2' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly">
        <p class="form-control-static">{{sfAccountSettings.billingLine2}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly" [ngClass]="{'has-success': f.submitted && billingLine2.valid, 'has-error' : f.submitted && !billingLine2.valid}">
        <input type="text" attr.id="BillingLine2-{{uniqueId}}" name="billingLine2" [attr.autocomplete]="isGeneralEditor" placeholder="Enter Billing Address 2"
               class="form-control" [(ngModel)]="sfAccountSettings.billingLine2" #billingLine2="ngModel" minlength="0" maxlength="50" />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': billingLine2.valid, 'glyphicon-remove' : !billingLine2.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && !billingLine2.valid" class="errorMessage">
          {{'AccountSettings.BillingLine2MaxChars' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- BillingLine3 -->
    <div class="form-group has-feedback">
      <label [class.col-md-5]="isViewOnly" [class.col-md-4]="!isViewOnly" class="control-label" for="BillingLine3-{{uniqueId}}">{{'AccountSettings.BillingLine3' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly">
        <p class="form-control-static">{{sfAccountSettings.billingLine3}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly" [ngClass]="{'has-success': f.submitted && billingLine3.valid, 'has-error' : f.submitted && !billingLine3.valid}">
        <input type="text" attr.id="BillingLine3-{{uniqueId}}" name="billingLine3" [attr.autocomplete]="isGeneralEditor" placeholder="Enter Billing Address 3"
               class="form-control" [(ngModel)]="sfAccountSettings.billingLine3" #billingLine3="ngModel" minlength="0" maxlength="50" />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': billingLine3.valid, 'glyphicon-remove' : !billingLine3.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && !billingLine3.valid" class="errorMessage">
          {{'AccountSettings.BillingLine3MaxChars' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- BillingMunicipality -->
    <div class="form-group has-feedback">
      <label [class.col-md-5]="isViewOnly" [class.col-md-4]="!isViewOnly" class="control-label" for="BillingMunicipality-{{uniqueId}}"><div class="required">*</div>{{'AccountSettings.BillingMunicipality' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly">
        <p class="form-control-static">{{sfAccountSettings.billingMunicipality}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly" [ngClass]="{'has-success': f.submitted && billingMunicipality.valid, 'has-error' : f.submitted && !billingMunicipality.valid}">
        <input type="text" attr.id="BillingMunicipality-{{uniqueId}}" name="billingMunicipality" [attr.autocomplete]="isGeneralEditor" placeholder="Enter Billing City"
               class="form-control" [(ngModel)]="sfAccountSettings.billingMunicipality" #billingMunicipality="ngModel" required minlength="1" maxlength="100" />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': billingMunicipality.valid, 'glyphicon-remove' : !billingMunicipality.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && !billingMunicipality.valid" class="errorMessage">
          {{'AccountSettings.BillingMunicipalityRequired' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- BillingStateOrProvince -->
    <div class="form-group has-feedback">
      <label [class.col-md-5]="isViewOnly" [class.col-md-4]="!isViewOnly" class="control-label" for="BillingStateOrProvince-{{uniqueId}}"><div class="required">*</div>{{'AccountSettings.BillingStateOrProvince' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly">
        <p class="form-control-static">{{sfAccountSettings.billingStateOrProvince}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly" [ngClass]="{'has-success': f.submitted && billingStateOrProvince.valid, 'has-error' : f.submitted && !billingStateOrProvince.valid}">
        <input type="text" attr.id="BillingStateOrProvince-{{uniqueId}}" name="billingStateOrProvince" [attr.autocomplete]="isGeneralEditor" placeholder="Enter Billing State or Province"
               class="form-control" [(ngModel)]="sfAccountSettings.billingStateOrProvince" #billingStateOrProvince="ngModel" required minlength="1" maxlength="35" />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': billingStateOrProvince.valid, 'glyphicon-remove' : !billingStateOrProvince.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && !billingStateOrProvince.valid" class="errorMessage">
          {{'AccountSettings.BillingStateOrProvinceRequired' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- BillingPostalCode -->
    <div class="form-group has-feedback">
      <label [class.col-md-5]="isViewOnly" [class.col-md-4]="!isViewOnly" class="control-label" for="BillingPostalCode-{{uniqueId}}"><div class="required">*</div>{{'AccountSettings.BillingPostalCode' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly">
        <p class="form-control-static">{{sfAccountSettings.billingPostalCode}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly" [ngClass]="{'has-success': f.submitted && billingPostalCode.valid, 'has-error' : f.submitted && !billingPostalCode.valid}">
        <input type="text" attr.id="BillingPostalCode-{{uniqueId}}" name="billingPostalCode" [attr.autocomplete]="isGeneralEditor" placeholder="Enter Billing Postal Code"
               class="form-control" [(ngModel)]="sfAccountSettings.billingPostalCode" #billingPostalCode="ngModel" required minlength="1" maxlength="10" />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': billingPostalCode.valid, 'glyphicon-remove' : !billingPostalCode.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && !billingPostalCode.valid" class="errorMessage">
          {{'AccountSettings.BillingPostalCodeRequired' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- BillingCountry -->
    <div class="form-group has-feedback">
      <label [class.col-md-5]="isViewOnly" [class.col-md-4]="!isViewOnly" class="control-label" for="BillingCountry-{{uniqueId}}"><div class="required">*</div>{{'AccountSettings.BillingCountry' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly">
        <p class="form-control-static">{{sfAccountSettings.billingCountry}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly" [ngClass]="{'has-success': f.submitted && billingCountry.valid, 'has-error' : f.submitted && !billingCountry.valid}">
        <input type="text" attr.id="BillingCountry-{{uniqueId}}" name="billingCountry" [attr.autocomplete]="isGeneralEditor" placeholder="Enter Billing Country"
               class="form-control" [(ngModel)]="sfAccountSettings.billingCountry" #billingCountry="ngModel" required minlength="1" maxlength="40" />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': billingCountry.valid, 'glyphicon-remove' : !billingCountry.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && !billingCountry.valid" class="errorMessage">
          {{'AccountSettings.BillingCountryRequired' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.last-separator-hr]="!isEditMode" [class.edit-last-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- ShippingLine1 -->
    <div class="form-group has-feedback">
      <label [class.col-md-5]="isViewOnly" [class.col-md-4]="!isViewOnly" class="control-label" for="ShippingLine1-{{uniqueId}}"><div class="required">*</div>{{'AccountSettings.ShippingLine1' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly">
        <p class="form-control-static">{{sfAccountSettings.shippingLine1}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly" [ngClass]="{'has-success': f.submitted && shippingLine1.valid, 'has-error' : f.submitted && !shippingLine1.valid}">
        <input type="text" attr.id="ShippingLine1-{{uniqueId}}" name="shippingLine1" [attr.autocomplete]="isGeneralEditor" placeholder="Enter Shipping Address"
               class="form-control" [(ngModel)]="sfAccountSettings.shippingLine1" #shippingLine1="ngModel" required minlength="1" maxlength="50" />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': shippingLine1.valid, 'glyphicon-remove' : !shippingLine1.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && !shippingLine1.valid" class="errorMessage">
          {{'AccountSettings.ShippingLine1Required' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- ShippingLine2 -->
    <div class="form-group has-feedback">
      <label [class.col-md-5]="isViewOnly" [class.col-md-4]="!isViewOnly" class="control-label" for="ShippingLine2-{{uniqueId}}">{{'AccountSettings.ShippingLine2' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly">
        <p class="form-control-static">{{sfAccountSettings.shippingLine2}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly" [ngClass]="{'has-success': f.submitted && shippingLine2.valid, 'has-error' : f.submitted && !shippingLine2.valid}">
        <input type="text" attr.id="ShippingLine2-{{uniqueId}}" name="shippingLine2" [attr.autocomplete]="isGeneralEditor" placeholder="Enter Shipping Address 2"
               class="form-control" [(ngModel)]="sfAccountSettings.shippingLine2" #shippingLine2="ngModel" minlength="0" maxlength="50" />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': shippingLine2.valid, 'glyphicon-remove' : !shippingLine2.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && !shippingLine2.valid" class="errorMessage">
          {{'AccountSettings.ShippingLine2MaxChars' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- ShippingLine3 -->
    <div class="form-group has-feedback">
      <label [class.col-md-5]="isViewOnly" [class.col-md-4]="!isViewOnly" class="control-label" for="ShippingLine3-{{uniqueId}}">{{'AccountSettings.ShippingLine3' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly">
        <p class="form-control-static">{{sfAccountSettings.shippingLine3}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly" [ngClass]="{'has-success': f.submitted && shippingLine3.valid, 'has-error' : f.submitted && !shippingLine3.valid}">
        <input type="text" attr.id="ShippingLine3-{{uniqueId}}" name="shippingLine3" [attr.autocomplete]="isGeneralEditor" placeholder="Enter Shipping Address 3"
               class="form-control" [(ngModel)]="sfAccountSettings.shippingLine3" #shippingLine3="ngModel" minlength="0" maxlength="50" />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': shippingLine3.valid, 'glyphicon-remove' : !shippingLine3.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && !shippingLine3.valid" class="errorMessage">
          {{'AccountSettings.ShippingLine3MaxChars' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- ShippingMunicipality -->
    <div class="form-group has-feedback">
      <label [class.col-md-5]="isViewOnly" [class.col-md-4]="!isViewOnly" class="control-label" for="ShippingMunicipality-{{uniqueId}}"><div class="required">*</div>{{'AccountSettings.ShippingMunicipality' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly">
        <p class="form-control-static">{{sfAccountSettings.shippingMunicipality}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly" [ngClass]="{'has-success': f.submitted && shippingMunicipality.valid, 'has-error' : f.submitted && !shippingMunicipality.valid}">
        <input type="text" attr.id="ShippingMunicipality-{{uniqueId}}" name="shippingMunicipality" [attr.autocomplete]="isGeneralEditor" placeholder="Enter Shipping City"
               class="form-control" [(ngModel)]="sfAccountSettings.shippingMunicipality" #shippingMunicipality="ngModel" required minlength="1" maxlength="100" />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': shippingMunicipality.valid, 'glyphicon-remove' : !shippingMunicipality.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && !shippingMunicipality.valid" class="errorMessage">
          {{'AccountSettings.ShippingMunicipalityRequired' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- ShippingStateOrProvince -->
    <div class="form-group has-feedback">
      <label [class.col-md-5]="isViewOnly" [class.col-md-4]="!isViewOnly" class="control-label" for="ShippingStateOrProvince-{{uniqueId}}"><div class="required">*</div>{{'AccountSettings.ShippingStateOrProvince' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly">
        <p class="form-control-static">{{sfAccountSettings.shippingStateOrProvince}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly" [ngClass]="{'has-success': f.submitted && shippingStateOrProvince.valid, 'has-error' : f.submitted && !shippingStateOrProvince.valid}">
        <input type="text" attr.id="ShippingStateOrProvince-{{uniqueId}}" name="shippingStateOrProvince" [attr.autocomplete]="isGeneralEditor" placeholder="Enter Shipping State or Province"
               class="form-control" [(ngModel)]="sfAccountSettings.shippingStateOrProvince" #shippingStateOrProvince="ngModel" required minlength="1" maxlength="35" />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': shippingStateOrProvince.valid, 'glyphicon-remove' : !shippingStateOrProvince.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && !shippingStateOrProvince.valid" class="errorMessage">
          {{'AccountSettings.ShippingStateOrProvinceRequired' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- ShippingPostalCode -->
    <div class="form-group has-feedback">
      <label [class.col-md-5]="isViewOnly" [class.col-md-4]="!isViewOnly" class="control-label" for="ShippingPostalCode-{{uniqueId}}"><div class="required">*</div>{{'AccountSettings.ShippingPostalCode' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly">
        <p class="form-control-static">{{sfAccountSettings.shippingPostalCode}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly" [ngClass]="{'has-success': f.submitted && shippingPostalCode.valid, 'has-error' : f.submitted && !shippingPostalCode.valid}">
        <input type="text" attr.id="ShippingPostalCode-{{uniqueId}}" name="shippingPostalCode" [attr.autocomplete]="isGeneralEditor" placeholder="Enter Shipping Postal Code"
               class="form-control" [(ngModel)]="sfAccountSettings.shippingPostalCode" #shippingPostalCode="ngModel" required minlength="1" maxlength="10" />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': shippingPostalCode.valid, 'glyphicon-remove' : !shippingPostalCode.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && !shippingPostalCode.valid" class="errorMessage">
          {{'AccountSettings.ShippingPostalCodeRequired' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- ShippingCountry -->
    <div class="form-group has-feedback">
      <label [class.col-md-5]="isViewOnly" [class.col-md-4]="!isViewOnly" class="control-label" for="ShippingCountry-{{uniqueId}}"><div class="required">*</div>{{'AccountSettings.ShippingCountry' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly">
        <p class="form-control-static">{{sfAccountSettings.shippingCountry}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-7]="isViewOnly" [class.col-md-8]="!isViewOnly" [ngClass]="{'has-success': f.submitted && shippingCountry.valid, 'has-error' : f.submitted && !shippingCountry.valid}">
        <input type="text" attr.id="ShippingCountry-{{uniqueId}}" name="shippingCountry" [attr.autocomplete]="isGeneralEditor" placeholder="Enter Shipping Country"
               class="form-control" [(ngModel)]="sfAccountSettings.shippingCountry" #shippingCountry="ngModel" required minlength="1" maxlength="40" />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': shippingCountry.valid, 'glyphicon-remove' : !shippingCountry.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && !shippingCountry.valid" class="errorMessage">
          {{'AccountSettings.ShippingCountryRequired' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.last-separator-hr]="!isEditMode" [class.edit-last-separator-hr]="isEditMode" />
      </div>
    </div>

    <!-- Edit/Save/Cancel buttons -->
    <div *ngIf="!isViewOnly" class="form-group">
      <div class="col-sm-5">
        <div *ngIf="isGeneralEditor && isEditMode" class="pull-left">
          e"
          >
          us
          <div class="checkbox user-enabled">
            <label>
              <input type="checkbox" name="isEnabled" [(ngModel)]="userEdit.isEnabled">
              {{'users.editor.Enabled' | translate}}
            </label>
          </div>
          <button *ngIf="userEdit.isLockedOut" type="button" (click)="unlockUser()" class="btn btn-warning unblock-user" [disabled]="isSaving"><i class='fa fa-unlock-alt'></i> {{'users.editor.Unblock' | translate}}</button>
        </div>
      </div>
      <div class="col-sm-7">
        <div ngPreserveWhitespaces class="pull-right">
          <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
          <button *ngIf="!isEditMode && !isGeneralEditor" type="button" (click)="edit()" class="btn btn-default"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>
          <button *ngIf="isEditMode" type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>
          <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving">
            <i *ngIf="!isSaving" class='fa fa-save'></i>
            <i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
          </button>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </form>
</div>
