<div>
  <div class="row control-box">
    <div class="col-sm-8">
      <div class="form-group search-box">
        <search-box (searchChange)="onSearchChanged($event)" placeholder="{{'Contacts.management.Search' | translate}}">></search-box>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="navbar action-box">
        <ul class="nav navbar-nav navbar-right">
          <li class="toolbaritem">
            <a href="javascript:;" (click)="newSFContact(row)">
              <i class="fa fa-plus-circle"></i> {{'Contacts.management.NewContact' | translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ngx-datatable class="material colored-header sm table table-striped table-hover"
                 [loadingIndicator]="loadingIndicator"
                 [rows]="rows"
                 [rowHeight]="35"
                 [headerHeight]="35"
                 [footerHeight]="35"
                 [columns]="columns"
                 [scrollbarV]="true"
                 [columnMode]="'force'">
  </ngx-datatable>

  <ng-template #indexTemplate let-value="value">
    <strong>{{value}}</strong>
  </ng-template>

  <!--<ng-template #nameTemplate let-row="row" let-value="value">
    <span [class.inactive]="!row.active">
      <i *ngIf="!row.active" class="fa fa-exclamation"> </i>
      {{value}}
    </span>
  </ng-template>-->

  <ng-template #rolesTemplate let-row="row" let-value="value" let-i="index">
    <span class="role badge" *ngFor="let role of value">{{role}}</span>
  </ng-template>

  <ng-template #activeTemplate let-row="row" let-value="value">
    <!--<div class="center">-->
    <i *ngIf="row.active" class="fa fa-check green"> </i>
    <i *ngIf="!row.active" class="fa fa-close red"> </i>
    <!--</div>-->
  </ng-template>

  <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
    <div>
      <a class="btn btn-link btn-xs" href="javascript:;" (click)="editSFContact(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{'Contacts.management.Edit' | translate}}</a>
    </div>
  </ng-template>


  <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left"><i class="fa fa-user-circle-o"></i> {{editingContactName ? ('Contacts.management.EditContact' | translate:editingContactName) : ('Contacts.management.NewContact' | translate)}}</h4>
          <button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <sf-contact-info #sfContactEditor [isGeneralEditor]="true"></sf-contact-info>
        </div>
      </div>
    </div>
  </div>
</div>
