<div>
  <form *ngIf="formResetToggle" [attr.autocomplete]="isGeneralEditor ? NaN : null" class="form-horizontal" name="contactInfoForm" #f="ngForm" novalidate
        (ngSubmit)="f.form.valid ? save() :

          (!name.valid && showErrorAlert('Contact name is required', 'Please enter a contact name (minimum of 2 and maximum of 100 characters)'));

          (email.errors?.required && showErrorAlert('Email is required', 'Please enter an email address (maximum of 80 characters)'));
          (email.errors?.pattern && showErrorAlert('Invalid Email', 'Please enter a valid email address'));
        ">

    <div class="form-group has-feedback">
      <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="name-{{uniqueId}}">{{'Contacts.editor.Name' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
        <p class="form-control-static">{{sfContact.name}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly" [ngClass]="{'has-success': f.submitted && name.valid, 'has-error' : f.submitted && !name.valid}">
        <input type="text" attr.id="name-{{uniqueId}}" name="name" [attr.autocomplete]="isGeneralEditor ? new-password : null" placeholder="Enter contact name"
               class="form-control" [(ngModel)]="sfContactEdit.name" #name="ngModel" required minlength="2" maxlength="100" />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': name.valid, 'glyphicon-remove' : !name.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && !name.valid" class="errorMessage">
          {{'Contacts.editor.NameRequired' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>
    <div class="form-group has-feedback">
      <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="email-{{uniqueId}}">{{'Contacts.editor.Email' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
        <p class="form-control-static">{{sfContact.email}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly" [ngClass]="{'has-success': f.submitted && email.valid, 'has-error' : f.submitted && !email.valid}">
        <input type="text" attr.id="email-{{uniqueId}}" name="email" placeholder="Enter email address" class="form-control" [(ngModel)]="sfContactEdit.email" #email="ngModel"
               required
               minlength="6"
               maxlength="80"
               pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" />
        <span *ngIf="showValidationErrors && f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': email.valid, 'glyphicon-remove' : !email.valid}"></span>
        <span *ngIf="showValidationErrors && f.submitted && email.errors?.required" class="errorMessage">
          {{'Contacts.editor.EmailRequired' | translate}}
        </span>
        <span *ngIf="showValidationErrors && f.submitted && email.errors?.pattern" class="errorMessage">
          {{'Contacts.editor.InvalidEmail' | translate}}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>
    <div class="form-group">
      <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="phone-{{uniqueId}}">{{'Contacts.editor.Phone' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
        <p class="form-control-static">{{sfContact.phone}}</p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
        <input type="text" attr.id="phone-{{uniqueId}}" name="phone" placeholder="Enter phone number" class="form-control" [(ngModel)]="sfContactEdit.phone" />
      </div>
    </div>

    <!--<div *ngIf="!isEditMode" class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>
    <div *ngIf="!isEditMode" class="form-group">
      <label [class.col-md-3]="isViewOnly" [class.col-md-2]="!isViewOnly" class="control-label" for="roles-sfContact-info">{{'Contacts.editor.Roles' | translate}}</label>
      <div *ngIf="!isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly">
        <p ngPreserveWhitespaces class="form-control-static">
          <span *ngFor="let role of sfContact.roles">
            <span title='{{getRoleByName(role)?.description}}' class="badge">{{role}}</span>
          </span>
        </p>
      </div>
      <div *ngIf="isEditMode" [class.col-md-9]="isViewOnly" [class.col-md-10]="!isViewOnly" [ngClass]="{'has-success': f.submitted && roles.valid, 'has-error' : f.submitted && !roles.valid}">
        <select id="roles-sfContact-info" name="roles" [(ngModel)]="sfContactEdit.roles" #roles="ngModel" #rolesSelector="bootstrap-select" class="selectpicker form-control" bootstrapSelect required multiple
                data-live-search="true" data-actions-box="false" data-live-search-placeholder="Search..." title="Select Roles">
          <option *ngFor="let role of allRoles" attr.data-content="<span title='{{role.description}}' class='badge'>{{role.name}}</span>" attr.value="{{role.name}}">
            {{role.name}}
          </option>
        </select>
      </div>
    </div>-->


    <div class="row">
      <div class="col-md-12">
        <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
      </div>
    </div>
    <div *ngIf="!isViewOnly" class="form-group">
      <div class="col-sm-5">
        <div *ngIf="isGeneralEditor && isEditMode" class="pull-left">
          <div class="checkbox is-active">
            <label>
              <input type="checkbox" name="active" [(ngModel)]="sfContactEdit.active">
              {{'Contacts.editor.Active' | translate}}
            </label>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div ngPreserveWhitespaces class="pull-right">
          <button *ngIf="!isEditMode && isGeneralEditor" type="button" (click)="close()" class="btn btn-default"><i class='fa fa-close'></i> {{'users.editor.Close' | translate}}</button>
          <button *ngIf="!isEditMode && !isGeneralEditor" type="button" (click)="edit()" class="btn btn-default"><i class='fa fa-edit'></i> {{'users.editor.Edit' | translate}}</button>
          <button *ngIf="isEditMode" type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> {{'users.editor.Cancel' | translate}}</button>
          <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="isSaving">
            <i *ngIf="!isSaving" class='fa fa-save'></i>
            <i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
          </button>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </form>
</div>
